/* .hidden { display: none; background: lightgray; padding: .5em; } */
.hidden {
    display: none;
    background: yellow;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
}


.center {
    text-align: center;
}

#frame {
    font-size: .9em;
    /*width: 240px;*/
}

select {
    width: 100%;
    height: 32px;
}

.ui-slider-range {
    background: #e65f00;
}

.ui-slider {
    font-size: .7em;
}

.ui-slider .ui-slider-handle {
    background: #e65f00;
}

#slider-range .ui-slider-handle {
    width: .8em;
}

.ui-slider .ui-corner-all {
    border-radius: 1em;
}

.ui-widget-content {
    background: #eeeeee;
}

#amount {
    font-weight: bold;
    color: #e65f00;
}

#slider-range .ui-slider-range {
    background: #e65f00;
}

#slider-range {
    font-size: .7em;
}

#slider-range .ui-slider-handle {
    background: #e65f00;
}

#slider-range .ui-slider-handle {
    width: .8em;
}

#slider-range .ui-corner-all {
    border-radius: 1em;
}